*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif
}
section{
    height: 600px;
}
h1{
    color:#EC4C7A;
    font-size: 50px;
    margin-bottom: 40px;
}
h2{
    font-size: 30px;
    color: #202428;
    margin-bottom: 25px;
    padding-bottom: 10px;
}
p{
    font-size: 15px;
    color: gray;
    margin-bottom: 40px;
    line-height: 25px;
    font-weight: 600;
}
a{
    color: #fff;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 5px;
}
i{
    margin-right: 10px;
}
img{
    width: 100%;
}
.mid-width{
    width: 960px;
    margin: auto;
}
/* Header Section*/
.header-top{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-left{
    float: left;
    width: 50%;
    margin-top: 200px;
}
.header-left h1{
    color:#EC4C7A;
    font-size: 50px;
    margin-bottom: 40px;
}
.header-left h2{
    font-size: 30px;
    color: #202428;
    margin-bottom: 25px;
}
.header-left p{
    font-size: 15px;
    color: gray;
    margin-bottom: 40px;
    line-height: 25px;
    font-weight: 600;
}
.header-left a{
    background-image: linear-gradient(#FF1973, #FF4C94);
    transition: .5s;
}
.header-left a:hover{
    font-size: 20px;
}
.header-right{
    width: 50%;
    float: right;
    margin-top: 50px;
}
/*---------------------*/


/* Biography CSS */
.biography{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.biography-left{
    float: left;
    width: 40%;
    margin-top: 80px;
}
.biography-right{
    width: 50%;
    float: right;
    margin-top: 190px;
}
.biography-right h2{
    border-bottom: 2px solid #6D6E6A;
}
.biography-right a{
    background-image: linear-gradient(#FF1973, #FF4C94);
    transition: .5s;
}
.biography-right a:hover{
    font-size: 20px;
}
.right-side-bio h2{
    margin-bottom: 30px;
}
/*-----------------------*/


/* Latest work CSS */
.latest-work{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.latest-work h2{
    margin-top: 100px;
    margin-bottom: 100px;
    border-bottom: 2px solid #6D6E6A;
}
.work-img img{
    float: left;
    width: 32%;
    margin-right: 2%;
    border-radius: 10%;
}
.work-img img:last-child{
    margin-right: 0px;
}
/*-----------------------*/


/*footer CSS */
.footer-width{
    width: 600px;
    margin: auto;
}
.footer-top{
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    text-align: center;
}
.footer-top h2{
    font-size: 40px;
    margin-bottom: 80px;
    border-bottom: 2px solid #6D6E6A;
}
.footer-top h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.footer-top h5{
    font-size: 15px;
    margin-bottom: 60px;
    font-weight: 600;
    color: gray;
}
.footer-link{
    background-image: linear-gradient(#FF1973, #FF4C94);;
    padding: 20px 50px;
    border-radius: 15px;
}
.footer-link p{
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0;
}
.footer-link a{
    background-image: none;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 20px;
    display: block;
    font-size: 25px;
    font-weight: 800;
}
.footer-link a:hover{
    text-decoration: underline;
}
footer{
    color: gray;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}
